*{
    margin: 0;
    padding: 0;
}
.header{
    margin-top: 10px;
    height: 5vh;
    background-color: red;
}

.header p {
    color: white;
    text-align: center;
}

.body{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,30vw);
    justify-content: space-around;
    row-gap: 2vh;
}

.body .bodyItem{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: olive;
    border: solid;
    transition: 0.5s;
}
.body .bodyItem:hover{
    background-color: steelblue;
    cursor: pointer;
}
.body .bodyItem div{
    width: 100%;
}
.body .bodyItem p{
    text-align: center;
}

.body .bodyItem h6{
    background-color: bisque;
    text-align: center;
    font-size: 3vw;
}
a , a:link , a:visited{
    text-decoration: none;
    color: black;
}
